global:
  config:
    NODE_ENV: development
  secrets: {}

projects:
  __PROJECT_NAME__:
    config:
      APP_NAME: __PROJECT_NAME__
    secrets: {}
    environments:
      dev:
        config:
          NODE_ENV: development
        secrets: {}
      uat:
        config:
          NODE_ENV: production
        secrets: {}
      prod:
        config:
          NODE_ENV: production
        secrets: {}
